# Match Metadata IDs with landmarks

We want to check that the ids in our metadata check with the ones in the landmarks file 


el ID de landmarks tiene que ser igual que el ID de metadata. 


Probablemente este script solo sirva para Giannis

In [61]:
import pandas as pd

In [81]:
metadata_file = "/Users/luciamf/Desktop/Landmarks_generator/example/metadata_carabus.csv"
landmarks_file = "/Users/luciamf/Desktop/Landmarks_generator/example/carabus_landmarks/carabus_landmarks.tps"
landmarks_file_2 = "/Users/luciamf/Documents/beetles_project/beetle_classification/Carabus_pronotumLANDMARKS.TXT"

In [82]:
with open(landmarks_file, 'r') as f:
    lines = f.readlines()
    ids = [item.strip().split("=")[1] for item in lines if "ID" in item]
len(ids)

319

In [83]:
with open(landmarks_file_2, 'r') as f:
    lines = f.readlines()
    ids_2 = [item.strip().split("=")[1] for item in lines if "ID" in item]
len(ids)

319

In [75]:
metadata = pd.read_csv(metadata_file, delimiter=';')
metadata = metadata.rename(columns={'id':'ind_num', 'IND_id':'ID'})
# metadata = metadata.set_index('ID')
total = len(metadata)
metadata.head()

,ind_num,ID,FC,Species,Location,Alt.,Alt. Zone,Mt.,Crete,Sex
0,10,FC226IND10,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
1,11,FC226IND11,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
2,12,FC226IND12,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
3,13,FC226IND13,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
4,14,FC226IND14,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F

In [76]:
not_found = []
ids_metadata = []
for index, value in metadata['ID'].items():
    ids_metadata.append(value)
    if not value in ids:
        not_found.append(value)
print(f"Not found {len(not_found)} from metadata into the ids list out of {total} ids in metadata")

Not found 23 from metadata into the ids list out of 312 ids in metadata

This are the IDs that are not found in the landmarks file. Let's try to find out why

First let's see if these are in the list of files with less landmarks annotated.

In [77]:
less_landmarks = "/Users/luciamf/Desktop/Landmarks_generator/example/less_landmarks.txt"

In [78]:
with open(landmarks_file, 'r') as f:
    lines = f.readlines()
    less = [item.strip().split("=")[1] for item in lines if "ID" in item]

for id in not_found:
    if id in less:
        print(id)

No hay ninguna de estas landmarks en less. Tiene sentido porque creo que estas si que las meti en predict. (creo)

Tambien vemos que hay menos ids en el metadata que en los landmarks:

In [79]:
not_match = []
for id in ids:
    if id not in ids_metadata:
        not_match.append(id)
len(not_match)

print(f"{len(not_match)} ids are not found in the metadata out of the total {len(ids)} ids in our landmarks file")

30 ids are not found in the metadata out of the total 319 ids in our landmarks file

Vamos a ver la interseccion mejor:

In [88]:
# Convert lists to sets and get the symmetric difference
items_outside_intersection = set(ids_metadata).symmetric_difference(set(ids))

# Convert back to list (optional)
items_outside_intersection = list(items_outside_intersection)

print(len(items_outside_intersection))
for id in sorted(items_outside_intersection):
    print(id)

53
FC1532IND1
FC1532IND2
FC1532IND3
FC1532IND4
FC1532IND5
FC1532IND6
FC1532IND7
FC1808IND10
FC1808IND11
FC1808IND12
FC1808IND13
FC1808IND14
FC1808IND15
FC1808IND16
FC1808IND17
FC1808IND18
FC1809IND10
FC1809IND11
FC1809IND12
FC1809IND13
FC1809IND14
FC1809IND15
FC1809IND16
FC1809IND17
FC1809IND18
FC19142IND10P
FC19142IND1P
FC19142IND2P
FC19142IND3P
FC19142IND4P
FC19142IND5P
FC19142IND6P
FC19142IND7P
FC19142IND8P
FC19142IND9P
FC1916IND1
FC1916IND2
FC1916IND3
FC1916IND4
FC1916IND5
FC1916IND6
FC1916IND7
FC226IND13
FC226IND20
FC328IND11
FC328IND17
FC342IND12
FC357IND16
FC357IND7(1)
FC357IND9
FC764IND13
FC764IND9
FC8480IND11

The total number of ids that are not in any of the lists is 62

In [89]:
# Convert lists to sets and get the symmetric difference
new_items_outside_intersection = set(ids_metadata).symmetric_difference(set(ids_2))

# Convert back to list (optional)
new_items_outside_intersection = list(new_items_outside_intersection)

print(len(new_items_outside_intersection))
for id in sorted(items_outside_intersection):
    print(id)

62
FC1532IND1
FC1532IND2
FC1532IND3
FC1532IND4
FC1532IND5
FC1532IND6
FC1532IND7
FC1808IND10
FC1808IND11
FC1808IND12
FC1808IND13
FC1808IND14
FC1808IND15
FC1808IND16
FC1808IND17
FC1808IND18
FC1809IND10
FC1809IND11
FC1809IND12
FC1809IND13
FC1809IND14
FC1809IND15
FC1809IND16
FC1809IND17
FC1809IND18
FC19142IND10P
FC19142IND1P
FC19142IND2P
FC19142IND3P
FC19142IND4P
FC19142IND5P
FC19142IND6P
FC19142IND7P
FC19142IND8P
FC19142IND9P
FC1916IND1
FC1916IND2
FC1916IND3
FC1916IND4
FC1916IND5
FC1916IND6
FC1916IND7
FC226IND13
FC226IND20
FC328IND11
FC328IND17
FC342IND12
FC357IND16
FC357IND7(1)
FC357IND9
FC764IND13
FC764IND9
FC8480IND11

In [91]:
# Convert lists to sets and get the symmetric difference
final_list = set(items_outside_intersection).symmetric_difference(set(new_items_outside_intersection))

# Convert back to list (optional)
final_list = list(final_list)

print(len(final_list))
for id in sorted(final_list):
    print(id)

37
1809IND2
FC1045IND11
FC1045IND6
FC1046IND16
FC1046IND17
FC1047IND17
FC1056
FC1058IND6
FC1809IND2
FC19142IND1
FC19142IND10
FC19142IND10P
FC19142IND1P
FC19142IND2
FC19142IND2P
FC19142IND3
FC19142IND3P
FC19142IND4
FC19142IND4P
FC19142IND5
FC19142IND5P
FC19142IND6
FC19142IND6P
FC19142IND7
FC19142IND7P
FC19142IND8
FC19142IND8P
FC19142IND9
FC19142IND9P
FC342IND12
FC357IND7
FC764IND13
FC764IND9
FC8480IND11
FCI1045IND6
fc1045ind11
fc357ind7

In [92]:
metadata.head()

,ind_num,ID,FC,Species,Location,Alt.,Alt. Zone,Mt.,Crete,Sex
0,10,FC226IND10,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
1,11,FC226IND11,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
2,12,FC226IND12,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
3,13,FC226IND13,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F
4,14,FC226IND14,226,Carabus banoni,Kournas Lake,30,400,NaN,West,F

In [93]:
metadata.to_csv('/Users/luciamf/Desktop/GM_analysis/metadata_carabus.csv', index=False)